body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #4a90e2;
    font-weight: bold;
}

.calendar-container {
    max-width: 1200px;
    margin: -10px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #e9ecef;
    /* Um cinza claro */
    border-radius: 10px;
    color: #333;
    /* Texto cinza escuro */
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Leve sombra */
}


.calendar-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.calendar-header select {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #4a90e2;
    font-weight: bold;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    color: #555;
    text-transform: uppercase;
    position: sticky;
    top: 63px;
    /* Espaçamento abaixo do mês/ano */
    z-index: 2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.calendar-cell {
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-sizing: border-box;
    min-height: 100px;
    /* Altura mínima garantida */
}

.calendar-cell:hover {
    background-color: #eaf5ff;
    transform: translateY(-5px);
}

.calendar-cell .day-number {
    font-size: 1.5rem;
    font-weight: 700;
    color: #4a90e2;
    margin-bottom: 5px;
    /* Espaço entre o número e o nome do feriado */

}

.calendar-cell .day-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* Define o espaço entre "Dia" e "Noite" */
    font-size: 0.85rem;
}

.calendar-cell .day-text,
.calendar-cell .night-text {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 0px 5px;
}

.calendar-cell .day-text {
    color: black;
    flex: 1;
    text-align: center;
}

.calendar-cell .night-text {
    color: red;
    flex: 1;
    text-align: center;
}

.highlighted {
    color: white !important;
    background-color: var(--team-color) !important;
    font-weight: bold !important;
}

.sunday {
    background-color: #ffe6e6 !important;
    color: #ff4d4d !important;
}

.current-day {
    background-color: #f0f8ff;
    /* Um azul claro, mais sutil */
    color: #333;
    /* Texto em cinza escuro para contraste */
    border: 1px solid #add8e6;
    /* Uma borda azul clara */
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Um leve efeito de sombra */
}


.team-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.calendar-date {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #4a90e2;
    margin: 10px 0 20px;
}

.team-button {
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 30px;
    font-weight: 600;
    color: black;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.team-button.active {
    color: white;
}

.team-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.nav-button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
    background-color: #357ab7;
    transform: scale(1.1);
}

.nav-button:active {
    transform: scale(1.05);
}

.calendar-icon {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holiday {
    background-color: #ffe5b4;
    /* Fundo laranja claro */
    border: 1px solid #ffa500;
    /* Borda laranja */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.day-number {
    font-size: 1.5rem;
    font-weight: 700;
    color: #4a90e2;
    margin-bottom: 5px;
    /* Espaço entre o número e o nome do feriado */
}

.holiday-name {
    font-size: 0.85rem;
    font-weight: bold;
    color: #d35400;
    /* Texto laranja escuro */
    margin-bottom: 10px;
    /* Espaço entre o nome do feriado e os detalhes do dia */
}

.today-label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #ff2c84;
    padding: 2px 6px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}

.page-footer {
    text-align: center;
    padding: 10px;
    background-color: #e9ecef; /* Um cinza claro */
    color: #555; /* Texto em cinza escuro */
    font-size: 0.9rem;
    font-weight: 500;
    border-top: 1px solid #dcdcdc; /* Borda sutil no topo */
    margin-top: 20px;
}
