:root {
    --color-background: #f8fafc; /* cinza claro suave */
    --color-primary: #2c3e50; /* azul petr칩leo */
    --color-primary-hover: #3a5873; /* azul petr칩leo claro */
    --color-light-gray: #b0b8bf; /* cinza m칠dio */
    --color-medium-gray: #d3d9df; /* cinza claro */
    --color-dark-gray: #4a4f54; /* cinza escuro */
    --color-text: #222831; /* quase preto para texto principal */
    --color-white: #ffffff;
    --color-black: #000000;
    --color-shadow: rgba(0, 0, 0, 0.2); /* sombra sutil */
    --color-shadow-hover: rgba(0, 0, 0, 0.33); /* sombra hover mais forte */
    --color-sunday-bg: #ffeef0; /* rosa p치lido */
    --color-sunday-text: #d94f5d; /* vermelho suave */
    --color-holiday-bg: #fff9e6; /* creme claro */
    --color-holiday-border: #d4af37; /* dourado */
    --color-holiday-text: #8d0303; /* verde escuro */
    --color-current-day-bg: #d7e9f7; /* azul claro suave */
    --color-current-day-border: #2c3e50; /* azul petr칩leo */
    --color-today-label-bg: #ee0a78; /* rosa vibrante */
    --color-team-button-bg: #dfe4ea; /* cinza claro */
    --color-sun: #f1c40f; /* amarelo sol mais moderno */
    --color-moon: #7f8c8d; /* cinza azulado */
    --color-tooltip: #047857; /*Verde 치gua */

    /* Cores dos times */
    --team-a-color: #28a745; /* verde mais s칩brio */
    --team-b-color: #2980b9; /* azul petr칩leo */
    --team-c-color: #8e44ad; /* roxo escuro */
    --team-d-color: #e67e22; /* laranja moderno */
    --team-e-color: #f1c40f; /* amarelo mostarda */
}


/* Come칞a o CSS principal com vari치veis aplicadas */

body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-primary);
    font-weight: bold;
}

.calendar-container {
    max-width: 1200px;
    margin: -10px auto;
    padding: 20px;
    background: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 10px 25px var(--color-shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: var(--color-light-gray);
    border-radius: 10px;
    color: var(--color-text);
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0px 2px 5px var(--color-shadow);
}

.calendar-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.calendar-header select {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color-white);
    color: var(--color-primary);
    font-weight: bold;
    user-select: none;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day-header {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: var(--color-light-gray);
    border-radius: 5px;
    color: var(--color-dark-gray);
    text-transform: uppercase;
    position: sticky;
    top: 63px;
    z-index: 2;
    box-shadow: 0px 2px 5px var(--color-shadow);
}

.calendar-cell {
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-sizing: border-box;
    min-height: 100px;
}

.calendar-cell:hover {
    background-color: #eaf5ff;
    transform: translateY(-5px);
}

.calendar-cell .day-number {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 5px;
}

.calendar-cell .day-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 0.85rem;
    position: relative;
}

.calendar-cell .day-text,
.calendar-cell .night-text {
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 0px 5px;
    font-weight: bold;
    font-size: 1em;
}

.calendar-cell .day-text {
    color: #1f54a3;
    flex: 1;
    text-align: center;
}

.calendar-cell .night-text {
    color: #791d1d;
    flex: 1;
    text-align: center;
}

.highlighted {
    color: var(--color-black) !important;
    background-color: var(--team-color) !important;
    font-weight: bold !important;
}

.sunday {
    background-color: var(--color-sunday-bg) !important;
    color: var(--color-sunday-text) !important;
}

.current-day {
    background-color: var(--color-current-day-bg);
    color: var(--color-text);
    border: 1px solid var(--color-current-day-border);
    font-weight: bold;
    box-shadow: 0 2px 4px var(--color-shadow);
}

.team-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.calendar-date {
    text-align: center;
    font-size: 2.7rem;
    font-weight: bold;
    color: var(--color-white);
    background-color: #424242;
    margin: 10px 0 20px;
}

.team-button {
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 600;
    color: var(--color-black);
    background-color: var(--color-team-button-bg);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: 0 4px 6px var(--color-shadow);
}

.team-button.active {
    color: var(--color-black);
    background-color: var(--team-color);
}

.team-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px var(--color-shadow-hover);
}

.nav-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
    background-color: var(--color-primary-hover);
    transform: scale(1.1);
}

.nav-button:active {
    transform: scale(1.05);
}

.calendar-icon {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holiday {
    background-color: var(--color-holiday-bg);
    border: 1px solid var(--color-holiday-border);
    box-shadow: 0 2px 4px var(--color-shadow);
}

.holiday-name {
    font-size: 0.85rem;
    font-weight: bold;
    color: var(--color-holiday-text);
    margin-bottom: 10px;
    margin-top: 5px;
}

.today-label {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-today-label-bg);
    padding: 2px 6px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
}

.page-footer {
    text-align: center;
    padding: 10px;
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    font-size: 0.9rem;
    font-weight: 500;
    border-top: 1px solid var(--color-medium-gray);
    margin-top: 20px;
}

.estatistica {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--color-light-gray);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--color-shadow);
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.estatistica h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--color-primary);
    text-align: center;
    font-weight: 700;
}

.estatistica div {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: var(--color-white);
    box-shadow: 0 2px 4px var(--color-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.estatistica div:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px var(--color-shadow-hover);
}

.estatistica div span {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-dark-gray);
}

.estatistica div span.team {
    color: var(--color-primary);
}

.prev-container {
    display: flex;
    align-items: center;
    gap: 8px;
    visibility: visible;
    width: 120px;
    justify-content: flex-end;
}

.prev-container.hidden {
    visibility: hidden;
}

.month-name {
    font-size: 0.9rem;
    color: var(--color-dark-gray);
    font-weight: 500;
    text-transform: capitalize;
    width: 80px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.next-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.date-text {
    font-family: 'Poppins', sans-serif;
}

.sun-icon {
    color: var(--color-sun);
    font-size: 1.1rem;
    animation: rotate-sun 5s linear infinite;
    margin-bottom: 5px;
}

.moon-icon {
    color: var(--color-moon);
    font-size: 1.1rem;
    animation: move-moon 2s ease-in-out infinite;
    margin-bottom: 5px;
}

@keyframes rotate-sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes move-moon {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.payment-day {
    position: relative;
}

.payment-day::after {
    content: "游눯";
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.3rem;
    color: #047857; /* Verde escuro */
    user-select: none;
    pointer-events: none;
    animation: pulse 2s ease-in-out infinite;
}


/* Criando o tooltip */
.payment-day:hover::before {
    content: "Dia de pagamento";
    position: absolute;
    top: 47px;
    right: 16px;
    background-color: var(--color-tooltip);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
}

/* Tooltip inicial invis칤vel */
.payment-day::before {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

/* Anima칞칚o pulse suave */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
}

/* Tooltip b치sico, escondido por padr칚o */
.tooltip-bottom {
  position: absolute;
  bottom: -35px; /* posiciona logo abaixo dos spans */
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: #047857;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
}

/* Tooltip vis칤vel com anima칞칚o */
.calendar-cell.tooltip-active .tooltip-bottom {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

